.statut_change form button {
    background: #fff;
    border: none;
    border-radius: 3px;
    color: #6E92F0;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    margin: 0 0 0 10px;
    padding: 0 10px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}
.delete_user a {
    color: red;
}

.input-container {
    position: relative;
    margin: 40px 0 20px 0;
    width: 400px;
    
  }
  
  .input-container input[type="text"] {
    font-size: 18px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #6E92F0;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
    color: #D3BEFF;
  }
  
  .input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: #6E92F0;
    transition: all 0.3s ease;
    pointer-events: none;
  }
  
  .input-container input[type="text"]:focus ~ .label,
  .input-container input[type="text"]:valid ~ .label {
    top: -20px;
    font-size: 16px;
    color: #D3BEFF;
  }
  
  .input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #D3BEFF;
    transform: scaleX(0);
    transition: all 0.3s ease;
  }
  
  .input-container input[type="text"]:focus ~ .underline,
  .input-container input[type="text"]:valid ~ .underline {
    transform: scaleX(1);
  }
  